
.footer{
background-color: #11112b;
    color:#cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 430px;
    margin-top: -4px;
}
.footer > .logo-footer img{
    opacity: 0.5;
    width: 160px;
    height: 100%;
 
}

.footer > .links-wrapper 
{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;

}


.footer > .copyright-wrapper {
    font-size: 0.7em;
    opacity: 0.5;
    margin-bottom: 42px;
    color:#858585;
}